.gf-header {
    background-color: #282c34;
    display: flex;
    justify-content: flex-end;
}

.gf-header a {
    color: white;
    font-size: 18px;
    font-family: 'Antonio', sans-serif;
    margin: 1rem;
    text-decoration: none;
}

.gf-header a:hover {
    color: rgb(138, 43, 226);;
    text-decoration: underline;
}
