.form-back {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.input-form {
    margin: 0.5rem;
    width: 13%;
    padding: 0.8rem;
    border-radius: 5px;
    border: 2px solid #50d4f8;
    color: #282c34;
    text-align: center;
    font-size: 13px;
    font-family: 'Anton', sans-serif;
    background-color: #96e3f8;
}

.input-form:hover {
    border: 2px solid #17c9fa;
}

.login-button {
    display: block;
    justify-content: center;
    background-color: rgb(138, 43, 226);
    border: 2px solid rgb(138, 43, 226);
    border-radius: 5px;
    padding: 3px;
    width: 15%;
    color: white;
    font-size: 20px;
    font-family: 'Antonio', sans-serif;
}

.login-button:hover {
    background-color: rgb(75, 0, 130);
}

.loading-err-msg {
    background-color: #282c34;
    color: white;
    display: block;
    padding: 1rem;
}